<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- annotation설정을 위해 추가-->
    <context:annotation-config/>
    <!-- @Required 애너테이션 사용을 위해 추가 -->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />



    <bean id="englishGreeter" class="com.nhnacademy.edu.springframework.greeting.service.EnglishGreeter"
        scope="singleton"
        init-method="init"
        destroy-method="destroy">
<!--        Bean 설정에서 Qualifier 설정을 추가-->
        <qualifier type="com.nhnacademy.edu.springframework.greeting.annotaion.Lang"/>
    </bean>
<!--    <bean id="koreanGreeter" class="com.nhnacademy.edu.springframework.greeting.service.KoreanGreeter"-->
<!--        scope="prototype"-->
<!--        init-method="init"-->
<!--        destroy-method="destroy">-->
<!--    </bean>-->

    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.messagesender.service.EmailMessageSender"
          scope="singleton"
          init-method="init"
          destroy-method="destroy">
    </bean>
    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.messagesender.service.SmsMessageSender"
          scope="prototype"
          init-method="init"
          destroy-method="destroy">
        <qualifier type="com.nhnacademy.edu.springframework.messagesender.annotaion.Sms"/>
    </bean>

<!--  property  무조건 넣도록 강제!-->
<!--    <bean id="greetingService" class="com.nhnacademy.edu.springframework.greeting.GreetingService">-->
<!--        <property name="koreanGreeter" ref="englishGreeter"/>-->
<!--    </bean>-->
<!--    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.messagesender.MessageSendService"-->
<!--          autowire="byName">-->
<!--    </bean>-->

    <bean id="greetingService" class="com.nhnacademy.edu.springframework.greeting.GreetingService">
        <!-- 해당 빈에서 필드에 @Autowired 어노테이션을 사용하므로 별도의 프로퍼티 설정이 필요하지 않음 -->
    </bean>
    <bean id="messageSendervice" class="com.nhnacademy.edu.springframework.messagesender.MessageSendService">
        <!-- 해당 빈에서 필드에 @Autowired 어노테이션을 사용하므로 별도의 프로퍼티 설정이 필요하지 않음 -->
    </bean>


</beans>